$primary   : #e1ac26;
$secondary : #2a2a2a;
$accent    : #e1ac26;

$dark      : #111111;
$dark-page : #0d0d0d;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
